body
{
	margin: 0px;
	padding: 0px;
}

.Play
{
    background-color: #2D2E32;
}

#game{
    position: relative;
    background: white;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}


#fruit
{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
}