body
{
    margin: 0px;
    padding: 0px;
    height: 200px;
    background-color: darkgray;
}

.game{
    position: relative;
    background: white;
}
.game .snake{
    position: relative;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #000;
}